@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
--fontsize-p:1.2rem;
--fontsize-nav:1.6rem;
--typing-font:3rem;
}


body
{
font-family: 'Raleway';
min-height: 100vh !important;
}
.App
{

width: 100vw !important;
min-height: 100vh !important;
}

.navbar2 {
  background: #4e4a46;
  
}

.navbar-brand {
  font-size: 1.7em !important;
  color: white !important;
}

.nav-link {
  font-size: 1.4em !important;
  color: white !important;
}


.condiv
{
padding: 0 ;
background-color: #b4bad2;
flex:var(--condiv-flex);
color: #4e4a46;
overflow: hidden;
min-height: 100vh;
}

.profilepic {
  
  height:450px;
  width: 450px;
  margin: 30px;
}

/*Displaying content in the middle*/
.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  
}

.panelContainer {
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding-left: 0;
}

.aboutPanel {
  text-decoration: none;
  display: inline-block;
  float: left;
  height: 100vh !important;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: xx-large;
  background-color:rgb(255, 255, 255, 0.4);
  margin: auto;
  transition: 0.8s ease-out;
  color: white;
}

.athlete {
  background-color: rgba(10, 10, 10, 0.8) !important;
  background-image: url("./img/athlete2.jpg");
  background-blend-mode: color;
  background-position: center;
 

}

.athlete:hover {
  background-color: rgba(10, 10, 10, 0.48) !important;
  background-image: url("./img/athlete2.jpg");
  background-blend-mode: color;
  background-position: center;
  cursor: pointer;
}


.student {
  background-color: rgba(10, 10, 10, 0.8) !important;
  background-image: url("./img/tamk.jpg");
  background-blend-mode: color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
 
}

.student:hover {
  background-color: rgba(10, 10, 10, 0.35) !important;
  background-image: url("./img/tamk.jpg");
  background-blend-mode: color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
}

.aboutPanel h2 {
  margin-top: 200px;
  font-size: 3vw;
}


.aboutList {
  font-size: 1.5vw;
  font-weight: bolder;
  margin-top: 30px;
  transition: visibility 0s, opacity 0.5s linear;
  list-style-type:circle;
  list-style-position: inside;
}

.aboutList li {
  padding-top: 25px;
 
}

.resume {
  padding-left: 200px;
  font-size: 1vw;
  display: flex;
}

.experience {
  margin-top: 5em;
  width: 50%;
  padding: 0px 100px 100px 100px;
}

.profile {
  margin-top: 2em;
}

.skills {
  margin-top: 5em;
  width: 50%;

}

.resume h3 {
  margin-top: 1.5em;
}

.experience p {
  margin-top: 0.5em;
}

.about-button {
  margin-top: 1em;
  cursor: pointer;
  border-radius: 10px;
  border: 5px solid #4e4a46;
  color: #4e4a46;
  font-weight: bolder;
  width: 25vh;
  text-align: center;
  margin: 1em 1em 1em 1em;
  padding: 10px;
}

.about-button:hover {
  color: white;
  border-color: white;
}

.links-container {
   margin-top: 1em;

}

.contact {
  font-weight: bolder;
  padding-left: 350px;
  padding-top: 4em;
  font-size: 1.5vw;
  min-height: 100vh;
}

.contact-text {
  margin-top: 10px;
}




@media only screen and (max-width: 768px) {


  .profilepic {
  
    height:200px;
    width: 200px;
    margin: 30px;
    margin-top: 40px;
  }

  .condiv {
    font-size: 0.7em;
  }

  .home h2 {
    padding: 0px 30px 0px 30px;
    margin-bottom: 20px;
    text-align: center;
  }

  .about-button {
    border-width: 3px;
  }

  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 20px;
    top: 20px;
  
  }

  .about {
    height: 100vh;
  }

  .aboutPanel h2{
    margin-top: 120px;
    font-size: 0.8em;
  }

  .aboutList {
    font-size: 0.4em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
  }

  .student { 
    background-position: 80% 40%;
    
  }

  .student:hover {
    background-position: 80% 40%;
  }



  .resume {
    padding-left: 0;
    font-size: 0.6em;
    display: flex;
    flex-direction:column;
    text-align: left;
    overflow: hidden;
  }

  .resume h2 {
    text-align: center;
    font-size: 2.4em;
  }
  .experience {
    padding-top: 50px !important;
  }


  .resume-column {
    width: 90%;
    padding: 0px 20px 0 20px;
  
  }

  .resume h3 {
    margin-top: 0.6em;
    font-size: 1.7em;
  }

  .skills {
    margin-top: 30px !important;
    padding-bottom: 30px;
  }
  

  .contact {
    padding-left: 0;
  }

  .contact-text {
    padding-left: 30px;
    font-size: 1.7em;
  }

  .contact-first {
    padding-top: 30px;
  }
}